[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
[submodule "themes/themes/osprey-delight"]
	path = themes/themes/osprey-delight
	url = https://github.com/kdevo/osprey-delight.git
[submodule "themes/osprey-delight"]
	path = themes/osprey-delight
	url = https://github.com/kdevo/osprey-delight.git
